*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #212121;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container{
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1.5fr 1fr auto;
    grid-template-areas: 
        "n h h h h h h h h h h h h h h"
        "n c c c c c c c c c c c c c c"
        "n v v v v v v v v v v v v v v";
}

.header{
    background: #212121;
    position: fixed;
    height: 60px;
    right: 0;
    width: 93.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    grid-area: h;
    z-index: 5;
    opacity: 0.975;
}

.logo-section,
.others-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.logo-section{
    justify-content: left;
}

.search-bar-section,
.search-bar-section form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-section{
    width: 10%;
}

.search-bar-section{
    width: 70%;
    height: 100%;
}

.others-section{
    width: 20%;
}

.menu{
    position: absolute;
    left: 20px;
}

.logo{
    position: absolute;
}

.logo img{
    height: 55px;
}

.search-bar-section form{
    width: 100%;
}

.search-bar-section input{
    display: block;
    width: 65%;
    background: #111;
    border: 1px solid #333;
    height: 31px;
    color: #bbb;
    padding-left: 15px;
    font-size: 1rem;
    outline: none;
}

.search-bar-section input:focus{
    border: 1px solid rgb(65, 104, 131);
}

.search-bar-section button{
    height: 31px;
    border-radius: 0;
    border: none;
    background: #333;
    color: #999;
    width: 10%;
}

.search-bar-section .microphone{ 
    margin-left: 15px;
    background: #111;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-section .microphone span{
    font-size: 1.4rem;
    color: #eee;
}

.others-section .profile-link{
    border-radius: 50%;
    height: 35px;
    overflow: hidden;
}

.others-section img{
    height: 35px;
}

.others-section a{
    display: block;
}

.others-section a span{
    font-size: 1.8rem;
    color: #eee;
}

.others-section a span:visited{
    color: #eee;
}

nav.sidebar{
    position: fixed;
    grid-area: n;
    display: flex;
    flex-direction: column;
    height: 100vh;    
    width: 6.7%;
}

nav.sidebar span{
    margin: 0 auto;
}

nav.sidebar .label{
    font-size: 0.5rem;
    margin-bottom: 30px;
    margin-top: 10px;
}

nav.sidebar .side-icon{
    margin-top: 20px;
}

nav.sidebar span.side-icon.home-icon{
    margin-top: 50px;
}

section.categories{
    grid-area: c;
    height: 55px;
    z-index: 0;
    position: fixed;
    border-bottom: 1px solid #333;
    right: 0;
    width: 93.4%;
    top: 60px;
    overflow: hidden;
    z-index: 4;
    background: #212121;
    opacity: 0.975;
}

section.categories button.category{
    width: max-content;
    padding: 8px 15px;
    margin: 10px 5px;
    background: #333;
    border: 0.1px solid #555;
    outline: none;
    border-radius: 25px;
    font-weight: 550;
    color: #eee;
}

section.categories button.category:first-child{
    margin-left: 30px;
}

section.categories button.category.active{
    background: #ddd;
    color: #111;
}

.video-content{
    margin-top: 30px;
    position: relative;
    grid-area: v;
    min-height: 80vh;
    width: 100%;
    top: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 275px;
    grid-gap: 5px;
    padding-left: 25px;
    padding-top: 30px;
    background: #131313;
}

.video-el{
    height: 150px;
    width: 260px;
    background: url(imgs/album.PNG);
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}

.channel-row-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 260px;
    height: 50px;
    position: relative;
}

.video-container img{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    left: 5px;
}

.channel-row-container .video-texts{
    position: relative;
    width: 210px;
    min-height: 20px;
    top: 30px;
    left: 25px;
    display: flex;
    flex-direction: column;
}

h5,
h6{
    margin: 0;
}

.channel-row-container h5{
    top: 0;
    margin-bottom: 10px;
}

.channel-row-container .video-texts h6{
    font-weight: lighter;
    color: #999;
    font-size: 14px;
}

.channel-row-container .video-texts h6.channel-title{
    margin-bottom: 5px;
}