.categories{
    grid-area: c;
    height: 55px;
    z-index: 0;
    position: fixed;
    border-bottom: 1px solid #333;
    right: 0;
    width: calc(100% - 85px);
    top: 60px;
    overflow: hidden;
    z-index: 4;
    background: #212121;
    opacity: 0.975;
}

.categories button.category{
    width: max-content;
    padding: 8px 15px;
    margin: 10px 5px;
    background: #333;
    border: 0.1px solid #555;
    outline: none;
    border-radius: 25px;
    font-weight: 550;
    color: #eee;
}

.categories button.category.active{
    background: #ddd;
    color: #111;
}

.video-content{
    position: absolute;
    right: 0;
    margin-top: 50px;
    padding: 70px 20px;
    display: grid;
    grid-gap: 10px;
    width: calc(100% - 85px);
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 280px;
    align-items: center;
    justify-items: center;
    background: #131313;
    grid-area: v;
    top: 10px;
}

.video-el{
    height: 150px;
    width: 260px;
    margin-bottom: 5px;
    background-image: url(../../media/imgs/zombie.png);
    background-color: black;
    background-blend-mode: difference;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.video-el:hover{
    background-image: url(../../media/imgs/zombie.webp);
    background-size: cover;
    cursor: pointer;
}

@media all and (max-width: 850px){

    /* home */

    #categories-container{
        width: 100vw;
        left: 0;
        overflow: auto;
    }

    div.video-content{
        width: 100vw;
        left: 0;
    }
}