#home-btn, #explore-btn, #sub-btn, #lib-btn{
    display: none;
}

.main-container-home{
    z-index: 1;
    overflow: auto;
    background: #191919;
}

nav.sidebar{
    z-index: -1;
}

header.header{
    grid-area: h;
    max-height: 60px;
    position: fixed;
    border-bottom: none;
}

.main-content{
    padding: 25px 60px;
    background: #191919;
    min-height: calc(100vh - 60px);
    width: 100vw;   
    overflow: auto;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-auto-rows: 60px auto;
    grid-template-areas: 
        "h h"
        "v s";
    grid-gap: 0 30px;
}

.video-area{
    grid-area: v;
    min-width: 700px;
}

.video-area iframe{
    color: white;
    border-radius: 5px;
    width: calc(60% + 10px);
    min-width: 700px;
    height: 430px;
    min-height: 300px;
}

.video-area .title-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "t t"
        "v l";
    border-bottom: 1px solid #333;
}

.video-area .title{
    margin-top: 10px;
    font-weight: normal;
    font-size: 1.05rem;
    grid-area: t;
    
}

.video-area .view.date{
    font-size: 0.85rem;
    font-weight: normal;
    color: #999;
    margin-top: 10px;
    grid-area: v;
}

.video-area .like-area-btns{
    grid-area: l;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 5px;
}

.like-area-btns .btn{
    background: none;
    border: none;
    color: white;
    outline: none;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 10px;
}

.like-dislike-btns{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;
}

/* this is to compensate on the 3px border bottom of like and dislike */
.like-area-btns .save-btn,
.like-area-btns .share-btn{
    padding-bottom: 13px;
}

.like-area-btns .btn .material-icons-outlined,
.like-area-btns .btn .material-icons{
    vertical-align: middle;
    display: inline-block;
    margin: 5px;
}

.like-area-btns .others-btn{
    padding-bottom: 10px;
}

.like-area-btns .others-btn .material-icons-outlined{
    display: inline-block;
    font-size: 1.2rem;
}

.btnTextLikeRow{
    display: inline-block;
    margin-left: 3px;
}

.channel-info{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
}

.channel-name{
    padding: 0 20px;
    display: flex;
    justify-content: first baseline;
    width: 50%;
}

.channel-info .channel-pic{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.name-and-sub{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8rem;
    margin-left: 15px;
}

.name-and-sub span{
    display: inline-block;
    margin: 3px 0;
}

.name-and-sub .channel-name-display{
    font-weight: bold;
}

.name-and-sub .channel-sub-display{
    font-size: 0.7rem;
    color: #999;
}

.channel-info .channel-pic img{
    display: inline-block;
    height: 100%;
}

.subscribe-area{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.subscribe-area .btn{
    border: none;
    outline: none;
}

.subscribe-area .subscribe-channel-btn{
    background: #dd2c00;
    color: white;
    border-radius: 2px;
    padding: 12px 25px;
}

.subscribe-area .notif-btn{
    display: none;
    background: none;
    color: #ddd;
    margin: 0 12px;
}

.description-area{
    margin-left: 0;
    font-size: 0.8rem;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

.sub-container{
    margin-left: 80px;
}

.description-area p{
    text-align: justify;
    letter-spacing: 0.1px;
    color: #ddd;
}

.description-area span{
    display: inline-block;
}

.description-area span.more{
    display: none;
}

.description-area .see-more{
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    color: #777;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.description-area .see-more:hover{
    cursor: pointer;
}

.comments-num-row{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.comments-num-row .sort-comments{
    background: none;
    border: none;
    outline: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.comments-num-row .sort-comments span:hover{
    cursor: pointer;
}

.add-comment-row{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.add-comment-row .profile-pic-comment{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
}

.add-comment-row .profile-pic-comment img{
    width: 45px;
}

.add-comment-row .input-comment{
    width: calc(100% - 45px);
    min-height: 80px;
    display: flex;
    flex-direction: column;
}

.add-comment-row .input-comment input{
    margin-top: 30px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #555;
    color: white;
    font-size: 0.9rem;
    padding: 5px 0;
    position: relative;
}

.add-comment-row .input-comment input:focus,
.add-comment-row .input-comment input:active{
    border-bottom: 1.5px solid black;
}

.comment-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment-btns .btn{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 0.95rem;
    background: none;
    outline: none;
    border: none;
}

.comment-btns .btn:disabled{
    cursor: none;
}

.comment-btns .btn:hover{
    cursor: pointer;
}

.comment-btns .cancel-btn{
    color: #aaa;
}

.comment-btns .comment-btn{
    background: #333;
    color: #777;
    border-radius: 2px;
}

.posts-area{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.going-right{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.post-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post-box{
    width: calc(100% - 50px);
    position: relative;
}

.post-username{
    font-size: 0.95rem;
    font-weight: 550;
    display: inline-block;
    margin-right: 5px;
}

.post-time{
    font-size: 0.75rem;
    color: #aaa;
}

.post-content{
    margin: 10px 0;
    font-size: 0.95rem;
}

.post-btn{
    background: none;
    outline: none;
    border: none;
    color: #ccc;
    font-size: 0.85rem;
    padding: 5px;
    margin-right: 5px;
}

.post-total{
    display: inline-block;
    font-size: 0.7rem;
    line-height: 10px;
    margin-right: 15px;
    transform: translateY(-25%);
}

.post-reply{
    background: none;
    outline: none;
    border: none;
    color: #999;
    font-weight: 550;
}

.view-reply{
    display: block;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: none;
    outline: none;
    border: none;
    color: #2196f3;
    font-weight: bold;
}


/* right side of the screen */
.suggestion-area{
    grid-area: s;
}

.suggest-category{
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
}

.suggest-category button.category{
    width: max-content;
    padding: 8px 15px;
    margin: 10px 5px;
    background: #333;
    border: 0.1px solid #555;
    outline: none;
    border-radius: 25px;
    font-weight: 550;
    color: #eee;
    cursor: pointer;
}

.suggest-category button.category.active{
    background: #ddd;
    color: #111;
}

.suggest-videos{
    display: flex;
    flex-direction: column;
}

.sug-container{
    max-height: 140px;
    display: flex;
    margin-bottom: 10px;
}

.thumbnail-div{
    margin-right: 10px;
}

.sug-thumbnail{
    height: 100%;
    width: 200px;
}

.title-div{
    margin-bottom: 10px;
    min-height: 40px;
    max-height: 60px;
}

.sug-title{
    font-size: 0.9rem;
}

.sug-uploader{
    display: block;
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 5px;
}

.sug-views-count,
.sug-post-age{
    font-size: 0.8rem;
    color: #888;
}
